<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/nav.css">
    <title>nav</title>
</head>
<body>
    <div class="container">
   <a href="#">FERRY DETAILS</a>
   <a href="/">TICKET BOOKING</a>
   <a href="detail">USER DETAILS</a>
   <a href="#">TERMS AND CONDITION</a>
   <a href="#">PAYMENT</a>
   <a href="#">FEEDBACK</a>
   </div>
</body>
</html>



<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add member</title>
    <link rel="stylesheet" href="/static/show.css">
    <link rel="stylesheet" href="/static/script.js">

</head>
<body>
    <div class="container">
        <div class="wrap">
            <h1>ADD MEMBER</h1>
            <a href="#" class="add">&plus;</a>
        </div>
        <div class="inp-group">
    
        </div>
        </div>
        <script>
        
        
            const addbtn = document.queryselector(".add");
        
            const input = document.queryselector(".inp-group");
        
        
            function removeInput(){
                this.parentElement.remove();
            }

            function addInput(){
                const name =document.createElement("input");
                name.type="text";
                name.placeholder= "Enter Your Name"
        
                const age =document.createElement("input");
                age.type="text";
                age.placeholder= "Enter Your age"
        
                const gender =document.createElement("input");
                gender.type="text";
                gender.placeholder= "Enter Your gender"
                
                const food =document.createElement("input");
                food.type="text";
                food.placeholder= "Enter Your food"
        
                const btn =document.createElement("a");
                btn.className="delete";
                btn.innerHTML="&times";
                
                addBtn.addEventListener("click",removeInput);

                const flex =document.createElement("div");
                flex.className="flex";
        
        
                input.appendChild(flex);
                flex.appendChild(name);
                flex.appendChild(name);
                flex.appendChild(name);
                flex.appendChild(name);
        
        
            }
            addBtn.addEventListener("click",addInput);
        
            </script>
</body>
</html>


-->